@import '/src/css/mixins.scss';
@import '/src/css/reset.scss';
@import '/src/css/vars.scss';

.header {

  &__container {
    @include container();
    padding: 20px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(147deg, #ed3cca .49%, #df34d2 14.88%, #d02bd9 29.27%, #bf22e1 43.14%, #ae1ae8 57.02%, #9a10f0 70.89%, #8306f7 84.76%, #60f 99.15%);
    border-radius: 0 0 25px 25px;
    max-height: 90px;
    margin-bottom: 20px;
  }

  &__logo {
    max-height: 60px;
    max-width: 230px;
    fill: #FFFFFFFF;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__busket {
    height: 100%;
    width: 30px;
    position: relative;

    svg {
      width: 100%;
      height: 100%;
      fill: #FFFFFFFF;
    }
  }

  &__busket-count {
    position: absolute;
    bottom: -10px;
    right: -10px;
    color: #ffffff;
  }

  &__search {
    height: 100%;
    width: 30px;

    svg {
      width: 100%;
      height: 100%;

      path {
        fill: #FFFFFFFF;
      }
    }
  }
}

.search {

  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s;
  z-index: 2;


  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
  }

  &__container {
    @include container();
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    max-width: 900px;
  }
  &__input {
    padding: 15px;
    width: 100%;
    border-radius: 25px 0 0 25px;
    border-right: none;
  }

  &__submit {
    padding: 15px;
    border-radius: 0 25px 25px 0;
    border-left: none;
    background-color: #FFFFFFFF;
    width: 50px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.top_products {

  &__container {
    @include container();
  }

  .swiper-slide img {
    overflow:hidden;
  }
}

.products {
  &__container {
    @include container();
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 70px;
    list-style: none;
  }
}

.product {

  &__container {
    position: relative;
    width: 270px;
    height: 270px;
    margin-bottom: 100px;
  }


  &__image-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      top: 0;
      left: 0;
      object-fit: cover;
      margin-bottom: 30px;
    }
  }

  &__preview_wrapper {
    position: relative;
    background-color: rgba(191, 59, 210, 0.30);
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: white;

    &:hover {
      opacity: 1;
    }
  }

  &__preview_btn {

  }

  &__description {
    position: relative;
  }

  &__add {
    border: none;

    background-color: #9a10f0;
    color: white;
    padding: 7px;
    min-width: 100px;
    max-width: 150px;
    border-radius: 5px;

    &:hover {
      background-color: #df34d2;
    }

    &:active {
      background-color: #8306f7;
    }
  }

  &__form {
    .number {
      display: none;
    }

  }

  &__detailed {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s;
    z-index: 2;

    &:target {
      opacity: 1;
      visibility: visible;
    }
  }
}

.detailed {

  &__container {
    @include container();
    margin-top: 100px;
    max-width: 900px;
  }

  &__wrapper {
    @include container();
    background-color: white;
    border-radius: 20px;
    margin-top: 100px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 70vh;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }

  &__close {
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 10px;
    color: black;
  }
}

.ordered {
  .number {
    display: inline-block;
  }

  .product__add {
    display: none;
  }

}

.number {
  display: inline-block;
  position: relative;
  width: 100px;
}
.number input[type="number"] {
  display: block;
  height: 32px;
  line-height: 32px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  border: none;
  background-color: rgba(239, 239, 239);
}
.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
.number-minus {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  //border-right: 1px solid #ddd;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  color: #9a10f0;
}
.number-plus {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  //border-left: 1px solid #ddd;
  font-size: 16px;
  font-weight: 600;
  color: #9a10f0;
}